<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" value="<%=campground.title %>" required>
                <div class="invalid-feedback">
                    Title Required
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" value="<%=campground.location %>" required>
                <div class="invalid-feedback">
                    Location Required
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="campground[image]" value="<%=campground.image %>" required>
                <div class="invalid-feedback">
                    Image URL Required
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="campground[price]" value="<%=campground.price %>" required>
                    <div class="invalid-feedback">
                        Price Required
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]" required><%= campground.description%></textarea>
                <div class="invalid-feedback">
                    Description Required
                </div>
            </div>
            <div class="mb-3 d-flex justify-content-around">
                <button class="btn btn-outline-success">Update Campground</button>
                <a href="/campgrounds/<%= campground._id%>" class="btn btn-outline-primary">Back To Campground</a>
            </div>
        </form>

    </div>
</div>